In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib as mpl

drivers = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/drivers.csv")
lap_times = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/lap_times.csv")
circuits = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/circuits.csv")
pit_stops = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/pit_stops.csv")
results = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/results.csv")
driver_standings = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/driver_standings.csv")
races = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/races.csv")
qualifying = pd.read_csv("C:/Users/ary00/Documents/MachineLearning/qualifying.csv")

In [2]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [3]:
drivers.surname.unique()

array(['Hamilton', 'Heidfeld', 'Rosberg', 'Alonso', 'Kovalainen',
       'Nakajima', 'Bourdais', 'Räikkönen', 'Kubica', 'Glock', 'Sato',
       'Piquet Jr.', 'Massa', 'Coulthard', 'Trulli', 'Sutil', 'Webber',
       'Button', 'Davidson', 'Vettel', 'Fisichella', 'Barrichello',
       'Schumacher', 'Liuzzi', 'Wurz', 'Speed', 'Albers', 'Winkelhock',
       'Yamamoto', 'Pablo Montoya', 'Klien', 'Monteiro', 'Ide',
       'Villeneuve', 'Montagny', 'de la Rosa', 'Doornbos', 'Karthikeyan',
       'Friesacher', 'Zonta', 'Pizzonia', 'da Matta', 'Panis', 'Pantano',
       'Bruni', 'Baumgartner', 'Gené', 'Frentzen', 'Verstappen', 'Wilson',
       'Firman', 'Kiesa', 'Burti', 'Alesi', 'Irvine', 'Häkkinen',
       'Marques', 'Bernoldi', 'Mazzacane', 'Enge', 'Yoong', 'Salo',
       'Diniz', 'Herbert', 'McNish', 'Buemi', 'Takagi', 'Badoer',
       'Zanardi', 'Hill', 'Sarrazin', 'Rosset', 'Tuero', 'Nakano',
       'Magnussen', 'Berger', 'Larini', 'Katayama', 'Sospiri',
       'Morbidelli', 'Fontana', 'Lamy', 'Brundle', 'Montermini',
       'Lavaggi', 'Blundell', 'Suzuki', 'Inoue', 'Moreno', 'Wendlinger',
       'Gachot', 'Schiattarella', 'Martini', 'Mansell', 'Boullion',
       'Papis', 'Délétraz', 'Tarquini', 'Comas', 'Brabham', 'Senna',
       'Bernard', 'Fittipaldi', 'Alboreto', 'Beretta', 'Ratzenberger',
       'Belmondo', 'Järvilehto', 'de Cesaris', 'Gounon', 'Alliot',
       'Adams', 'Dalmas', 'Noda', 'Lagorce', 'Prost', 'Warwick',
       'Patrese', 'Barbazza', 'Andretti', 'Capelli', 'Boutsen',
       'Apicella', 'Naspetti', 'Gugelmin', 'van de Poele', 'Grouillard',
       'Chiesa', 'Modena', 'Amati', 'Caffi', 'Bertaggia', 'McCarthy',
       'Lammers', 'Piquet', 'Pirro', 'Johansson', 'Bailey', 'Chaves',
       'Bartels', 'Hattori', 'Nannini', 'Schneider', 'Barilla', 'Foitek',
       'Langes', 'Donnelly', 'Giacomelli', 'Alguersuari', 'Grosjean',
       'Kobayashi', 'Palmer', 'Danner', 'Cheever', 'Pérez-Sala',
       'Ghinzani', 'Weidler', 'Raphanel', 'Arnoux', 'Larrauri', 'Streiff',
       'Campos', 'Schlesser', 'Fabre', 'Fabi', 'Forini', 'Laffite',
       'de Angelis', 'Dumfries', 'Tambay', 'Surer', 'Jones',
       'Rothengatter', 'Berg', 'Lauda', 'Hesnault', 'Baldi', 'Bellof',
       'Acheson', 'Watson', 'Cecotto', 'Gartner', 'Thackwell', 'Serra',
       'Sullivan', 'Salazar', 'Guerrero', 'Boesel', 'Jarier',
       'Villeneuve Sr.', 'Reutemann', 'Mass', 'Borgudd', 'Pironi',
       'Paletti', 'Henton', 'Daly', 'de Villota', 'Lees', 'Byrne',
       'Keegan', 'Rebaque', 'Gabbiani', 'Cogan', 'Guerra', 'Stohr',
       'Zunino', 'Londoño', 'Jabouille', 'Francia', 'Depailler',
       'Scheckter', 'Regazzoni', 'Kennedy', 'South', 'Needell', 'Ertl',
       'Brambilla', 'Hunt', 'Merzario', 'Stuck', 'Brancatelli', 'Ickx',
       'Gaillard', 'Ribeiro', 'Peterson', 'Lunger', 'Ongais', 'Leoni',
       'Galica', 'Stommelen', 'Colombo', 'Trimmer', 'Binder',
       'Bleekemolen', 'Franchi', 'Rahal', 'Pace', 'Pryce', 'Hoffmann',
       'Zorzi', 'Nilsson', 'Perkins', 'Nève', 'Purley', 'Andersson',
       'de Dryver', 'Oliver', 'Kozarowitzky', 'Sutcliffe', 'Edwards',
       'McGuire', 'Schuppan', 'Heyer', 'Pilette', 'Ashley', 'Kessel',
       'Takahashi', 'Hoshino', 'Takahara', 'Lombardi', 'Evans', 'Leclère',
       'Amon', 'Zapico', 'Pescarolo', 'Nelleman', 'Magee', 'Wilds',
       'Pesenti-Rossi', 'Stuppacher', 'Brown', 'Hasemi', 'Donohue',
       'Tunmer', 'Keizan', 'Charlton', 'Brise', 'Wunderink', 'Migault',
       'Palm', 'van Lennep', 'Fushida', 'Nicholson', 'Morgan', 'Crawford',
       'Vonlanthen', 'Hulme', 'Hailwood', 'Beltoise', 'Ganley', 'Robarts',
       'Revson', 'Driver', 'Belsø', 'Redman', 'von Opel', 'Schenken',
       'Larrousse', 'Kinnunen', 'Wisell', 'Roos', 'Dolhem', 'Gethin',
       'Bell', 'Hobbs', 'Quester', 'Koinigg', 'Facetti', 'Wietzes',
       'Cevert', 'Stewart', 'Beuttler', 'Galli', 'Bueno', 'Follmer',
       'de Adamich', 'Pretorius', 'Williamson', 'McRae', 'Marko',
       'Walker', 'Soler-Roig', 'Love', 'Surtees', 'Barber', 'Brack',
       'Posey', 'Rodríguez', 'Siffert', 'Bonnier', 'Mazet', 'Jean',
       'Elford', 'Moser', 'Eaton', 'Lovely', 'Craft', 'Cannon', 'Miles',
       'Rindt', 'Servoz-Gavin', 'McLaren', 'Courage', 'de Klerk',
       'Giunti', 'Gurney', 'Hahne', 'Hutchison', 'Westbury', 'Tingle',
       'van Rooyen', 'Attwood', 'Pease', 'Cordts', 'Clark', 'Spence',
       'Scarfiotti', 'Bianchi', 'Widdows', 'Ahrens', 'Gardner', 'Unser',
       'Solana', 'Anderson', 'Botha', 'Bandini', 'Ginther', 'Parkes',
       'Irwin', 'Ligier', 'Rees', 'Hart', 'Fisher', 'Baghetti',
       'Williams', 'Bondurant', 'Arundell', 'Taylor', 'Lawrence', 'Russo',
       'Ireland', 'Bucknum', 'Hawkins', 'Prophet', 'Maggs', 'Blokdyk',
       'Lederle', 'Serrurier', 'Niemann', 'Pieterse', 'Puzey', 'Reed',
       'Clapham', 'Blignaut', 'Gregory', 'Rhodes', 'Raby', 'Rollinson',
       'Gubby', 'Mitter', 'Bussinello', 'Vaccarella', 'Bassi',
       'Trintignant', 'Collomb', 'de Beaufort', 'Barth', 'Cabral',
       'Hansgen', 'Sharp', 'Mairesse', 'Campbell-Jones', 'Burgess',
       'Settember', 'Estéfano', 'Hall', 'Parnell', 'Kuhnke', 'Lippi',
       'Seiffert', 'Abate', 'Starrabba', 'Broeker', 'Ward', 'de Vos',
       'Dochnal', 'Monarch', 'Gasly', 'Lewis', 'Seidel', 'Salvadori',
       'Pon', 'Slotemaker', 'Marsh', 'Ashmore', 'Schiller', 'Davis',
       'Chamberlain', 'Shelly', 'Greene', 'Walter', 'Prinoth', 'Penske',
       'Schroeder', 'Mayer', 'Johnstone', 'Harris', 'Hocking',
       'van der Vyver', 'Moss', 'von Trips', 'Allison', 'Herrmann',
       'Brooks', 'May', 'Gendebien', 'Scarlatti', 'Naylor', 'Bordeu',
       'Fairman', 'Natili', 'Monteverdi', 'Pirocchi', 'Duke', 'Thiele',
       'Boffa', 'Ryan', 'Ruby', 'Menditeguy', 'Larreta', 'González',
       'Bonomi', 'Munaron', 'Schell', 'Stacey', 'Chimeri', 'Creus',
       'Bristow', 'Halford', 'Daigh', 'Reventlow', 'Rathmann',
       'Goldsmith', 'Branson', 'Thomson', 'Johnson', 'Veith',
       'Tingelstad', 'Christie', 'Amick', 'Carter', 'Homeier', 'Hartley',
       'Stevenson', 'Grim', 'Templeman', 'Hurtubise', 'Bryan', 'Ruttman',
       'Sachs', 'Freeland', 'Bettenhausen', 'Weiler', 'Foyt', 'Boyd',
       'Force', 'McWithey', 'Sutton', 'Herman', 'Flockhart', 'Piper',
       'Cabianca', 'Drogo', 'Gamble', 'Owen', 'Gould', 'Drake', 'Bueb',
       'de Changy', 'de Filippis', 'Lucienbonnet', 'Testut', 'Behra',
       'Daywalt', 'Arnold', 'Keller', 'Flaherty', 'Cheesbourg', 'Turner',
       'Weyant', 'Larson', 'Magill', 'Shelby', "d'Orey", 'Fontes',
       'Ashdown', 'Blanchard', 'de Tomaso', 'Constantine', 'Said', 'Cade',
       'Musso', 'Hawthorn', 'Fangio', 'Godia', 'Collins', 'Kavanagh',
       'Gerini', 'Kessler', 'Emery', 'Piotti', 'Ecclestone', 'Taramazzo',
       'Chiron', 'Lewis-Evans', 'Reece', 'Parsons', 'Tolan', 'Garrett',
       'Elisian', "O'Connor", 'Bisch', 'Goethals', 'Gibson', 'La Caze',
       'Guelfi', 'Picard', 'Bridger', 'de Portago', 'Perdisa',
       'Castellotti', 'Simon', 'Leston', 'Hanks', 'Linden', 'Teague',
       'Edmunds', 'Agabashian', 'George', 'MacDowel', 'MacKay-Fraser',
       'Gerard', 'Maglioli', 'England', 'Landi', 'Uria', 'da Silva Ramos',
       'Bayol', 'Manzon', 'Rosier', 'Sweikert', 'Griffith', 'Dinsmore',
       'Andrews', 'Frère', 'Villoresi', 'Scotti', 'Chapman',
       'Titterington', 'Scott Brown', 'Volonterio', 'Milhoux',
       'de Graffenried', 'Taruffi', 'Farina', 'Mieres', 'Mantovani',
       'Bucci', 'Iglesias', 'Ascari', 'Kling', 'Birger', 'Pollet',
       'Macklin', 'Whiteaway', 'Davies', 'Faulkner', 'Niday', 'Cross',
       'Vukovich', 'McGrath', 'Hoyt', 'Claes', 'Sparken', 'Wharton',
       'McAlpine', 'Marr', 'Rolt', 'Fitch', 'Lucas', 'Bira', 'Marimón',
       'Loyer', 'Daponte', 'Nazaruk', 'Crockett', 'Ayulo', 'Armi', 'Webb',
       'Duncan', 'McCoy', 'Swaters', 'Beauman', 'Thorne', 'Whitehouse',
       'Riseley-Prichard', 'Whitehead', 'Brandon', 'Nuckey', 'Lang',
       'Helfrich', 'Wacker', 'de Riu', 'Gálvez', 'Bonetto', 'Cruz',
       'Nalon', 'Scarborough', 'Holland', 'Scott', 'Legat', 'Cabantous',
       'Crook', 'Klodwig', 'Krause', 'Karch', 'Heeks', 'Fitzau', 'Adolff',
       'Bechem', 'Bauer', 'von Stuck', 'Loof', 'Scherrer', 'de Terra',
       'Hirt', 'Carini', 'Fischer', 'Ulmen', 'Abecassis', 'Connor',
       'Rigsby', 'James', 'Schindler', 'Fonder', 'Banks', 'McDowell',
       'Miller', 'Ball', 'de Tornaco', 'Laurent', "O'Brien", 'Gaze',
       'Montgomerie-Charrington', 'Comotti', 'Étancelin', 'Poore',
       'Thompson', 'Downing', 'Bianco', 'Murray', 'Cantoni', 'Aston',
       'Brudes', 'Riess', 'Niedermayr', 'Klenk', 'Balsa', 'Schoeller',
       'Pietsch', 'Peters', 'van der Lof', 'Flinterman', 'Dusio',
       'Crespo', 'Rol', 'Sanesi', 'Louveau', 'Wallard', 'Forberg', 'Rose',
       'Mackey', 'Green', 'Hellings', 'Levegh', 'Chaboud', 'Gordini',
       'Kelly', 'Fotheringham-Parker', 'Shawe Taylor', 'Branca',
       'Richardson', 'Jover', 'Grignard', 'Hampshire', 'Crossley',
       'Fagioli', 'Harrison', 'Fry', 'Martin', 'Biondetti', 'Pián',
       'Sommer', 'Chitwood', 'Fohr', 'Ader', 'Holmes', 'Levrett',
       'Jackson', 'Pagani', 'Pozzi', 'Serafini', 'Cantrell', 'Mantz',
       'Kladis', 'Hülkenberg', 'Petrov', 'di Grassi', 'Chandhok',
       'Maldonado', 'di Resta', 'Pérez', "d'Ambrosio", 'Ricciardo',
       'Vergne', 'Pic', 'Chilton', 'Gutiérrez', 'Bottas', 'van der Garde',
       'Kvyat', 'Lotterer', 'Ericsson', 'Stevens', 'Nasr', 'Sainz',
       'Merhi', 'Rossi', 'Wehrlein', 'Haryanto', 'Vandoorne', 'Ocon',
       'Stroll', 'Giovinazzi', 'Leclerc', 'Sirotkin', 'Norris', 'Russell',
       'Albon', 'Latifi', 'Aitken', 'Tsunoda', 'Mazepin', 'Zhou'],
      dtype=object)

In [115]:
drivers_list = ['hamilton', 'mick_schumacher', 'russell', 'max_verstappen', 'perez', 'leclerc', 'sainz', 'norris', 'ricciardo',
               'vettel', 'stroll', 'alonso', 'ocon', 'gasly', 'tsunoda', 'bottas', 'albon', 'latifi', 'kevin_magnussen']
drivers = drivers[(drivers['driverRef'].isin(drivers_list))]
driver_ids = drivers.driverId.unique()

drivers['fullname'] = drivers['forename']  + ' ' + drivers['surname']
driver_dictionary = dict(zip(drivers.driverId, drivers.fullname))
driver_dictionary

# print (drivers)

{1: 'Lewis Hamilton',
 4: 'Fernando Alonso',
 20: 'Sebastian Vettel',
 842: 'Pierre Gasly',
 815: 'Sergio Pérez',
 817: 'Daniel Ricciardo',
 822: 'Valtteri Bottas',
 825: 'Kevin Magnussen',
 830: 'Max Verstappen',
 832: 'Carlos Sainz',
 839: 'Esteban Ocon',
 840: 'Lance Stroll',
 844: 'Charles Leclerc',
 846: 'Lando Norris',
 847: 'George Russell',
 848: 'Alexander Albon',
 849: 'Nicholas Latifi',
 852: 'Yuki Tsunoda',
 854: 'Mick Schumacher'}

In [5]:
results = results[(results['driverId'].isin(driver_ids))]
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
19,20,18,20,5,15,9,\N,R,20,0.0,0,\N,\N,\N,\N,\N,\N,4
26,27,19,1,1,22,9,5,5,5,4.0,56,+46.548,5525103,53,3,1:35.462,209.033,1
29,30,19,4,4,5,7,8,8,8,1.0,56,+1:10.041,5548596,40,10,1:36.288,207.240,1

In [6]:
lap_times = lap_times[(lap_times['driverId'].isin(driver_ids))]

In [7]:
pit_stops = pit_stops[(pit_stops['driverId'].isin(driver_ids))]

In [8]:
driver_standings = driver_standings[(driver_standings['driverId'].isin(driver_ids))]

In [9]:
qualifying = qualifying[(qualifying['driverId'].isin(driver_ids))]

In [10]:
merged = pd.merge(qualifying, results,  how='inner', left_on=['raceId', 'driverId'], right_on=['raceId','driverId'])
merged.head()

,qualifyId,raceId,driverId,constructorId_x,number_x,position_x,q1,q2,q3,resultId,...,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714,1,...,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,10,18,20,5,15,10,1:26.702,1:25.842,\N,20,...,20,0.0,0,\N,\N,\N,\N,\N,\N,4
2,12,18,4,4,5,12,1:26.907,1:26.188,\N,4,...,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
3,26,19,1,1,22,4,1:35.392,1:34.627,1:36.709,27,...,5,4.0,56,+46.548,5525103,53,3,1:35.462,209.033,1
4,31,19,4,4,5,9,1:35.983,1:35.140,1:38.450,30,...,8,1.0,56,+1:10.041,5548596,40,10,1:36.288,207.240,1

In [11]:
new_laps = lap_times.groupby(['raceId','driverId']).mean().reset_index()
new_laps

      raceId  driverId   lap   position   milliseconds
0          1         1  29.5   9.672414   97563.758621
1          1         4  29.5   9.603448   97597.637931
2          1        20  28.5   2.089286   96325.446429
3          2         1  16.0   8.677419  109398.548387
4          2         4  16.0   7.612903  110969.161290
...      ...       ...   ...        ...            ...
2490    1076       847  29.5   3.655172   91243.810345
2491    1076       848  29.5  11.327586   92171.206897
2492    1076       849  29.0  17.473684   92579.491228
2493    1076       852  29.0  14.350877   92506.298246
2494    1076       854  29.0  14.614035   92435.280702

[2495 rows x 5 columns]

In [12]:
merged = pd.merge(merged, new_laps,  how='inner', left_on=['raceId', 'driverId'], right_on=['raceId','driverId'])
merged.head()

,qualifyId,raceId,driverId,constructorId_x,number_x,position_x,q1,q2,q3,resultId,...,time,milliseconds_x,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,lap,position,milliseconds_y
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714,1,...,1:34:50.616,5690616,39,2,1:27.452,218.300,1,29.5,1.258621,98114.068966
1,12,18,4,4,5,12,1:26.907,1:26.188,\N,4,...,+17.181,5707797,58,7,1:28.603,215.464,1,29.5,7.982759,98410.293103
2,26,19,1,1,22,4,1:35.392,1:34.627,1:36.709,27,...,+46.548,5525103,53,3,1:35.462,209.033,1,28.5,5.607143,98662.553571
3,31,19,4,4,5,9,1:35.983,1:35.140,1:38.450,30,...,+1:10.041,5548596,40,10,1:36.288,207.240,1,28.5,8.267857,99082.071429
4,37,19,20,5,15,15,1:36.111,1:35.648,\N,40,...,\N,\N,37,14,1:36.870,205.995,5,20.0,13.025641,99910.102564

In [13]:
pit_stops.head()
new_pits = pit_stops.groupby(['raceId','driverId']).mean().reset_index()
new_pits

      raceId  driverId  stop    lap  milliseconds
0        841         1   1.5  26.00      23213.00
1        841         4   2.0  27.00      24055.00
2        841        20   1.5  25.00      23319.50
3        841       815   1.0  23.00      23438.00
4        842         1   2.5  31.25      23252.75
...      ...       ...   ...    ...           ...
2118    1076       847   1.0  23.00      18479.00
2119    1076       848   1.0  57.00      19845.00
2120    1076       849   1.5  18.00      18244.00
2121    1076       852   1.0  18.00      18443.00
2122    1076       854   1.0  14.00      19039.00

[2123 rows x 5 columns]

In [14]:
merged = pd.merge(merged, new_pits,  how='inner', left_on=['raceId', 'driverId'], right_on=['raceId','driverId'])
merged.head()

,qualifyId,raceId,driverId,constructorId_x,number_x,position_x,q1,q2,q3,resultId,...,rank,fastestLapTime,fastestLapSpeed,statusId,lap_x,position,milliseconds_y,stop,lap_y,milliseconds
0,4537,841,20,9,1,1,1:25.296,1:24.090,1:23.529,20779,...,4,1:29.844,212.488,1,29.5,1.103448,92590.672414,1.5,25.000000,23319.500000
1,4538,841,1,1,3,2,1:25.384,1:24.595,1:24.307,20780,...,8,1:30.314,211.382,1,29.5,1.948276,92975.103448,1.5,26.000000,23213.000000
2,4541,841,4,6,5,5,1:25.707,1:25.242,1:24.974,20782,...,2,1:29.487,213.336,1,29.5,5.500000,93138.465517,2.0,27.000000,24055.000000
3,4549,841,815,15,17,13,1:25.812,1:26.108,\N,20800,...,6,1:29.962,212.209,2,29.5,10.224138,93725.931034,1.0,23.000000,23438.000000
4,4562,842,20,9,1,1,1:37.468,1:35.934,1:34.870,20801,...,6,1:41.539,196.523,1,28.5,1.071429,104639.857143,2.0,26.333333,22408.333333

In [15]:
merged.rename(columns = {'milliseconds_x':'race_time'}, inplace = True)
merged.rename(columns = {'milliseconds_y':'lap_time'}, inplace = True)
merged.rename(columns = {'milliseconds':'pitstop_time'}, inplace = True)
merged.rename(columns = {'position_x':'qualifying_pos'}, inplace = True)
merged.head()

,qualifyId,raceId,driverId,constructorId_x,number_x,qualifying_pos,q1,q2,q3,resultId,...,rank,fastestLapTime,fastestLapSpeed,statusId,lap_x,position,lap_time,stop,lap_y,pitstop_time
0,4537,841,20,9,1,1,1:25.296,1:24.090,1:23.529,20779,...,4,1:29.844,212.488,1,29.5,1.103448,92590.672414,1.5,25.000000,23319.500000
1,4538,841,1,1,3,2,1:25.384,1:24.595,1:24.307,20780,...,8,1:30.314,211.382,1,29.5,1.948276,92975.103448,1.5,26.000000,23213.000000
2,4541,841,4,6,5,5,1:25.707,1:25.242,1:24.974,20782,...,2,1:29.487,213.336,1,29.5,5.500000,93138.465517,2.0,27.000000,24055.000000
3,4549,841,815,15,17,13,1:25.812,1:26.108,\N,20800,...,6,1:29.962,212.209,2,29.5,10.224138,93725.931034,1.0,23.000000,23438.000000
4,4562,842,20,9,1,1,1:37.468,1:35.934,1:34.870,20801,...,6,1:41.539,196.523,1,28.5,1.071429,104639.857143,2.0,26.333333,22408.333333

In [16]:
merged.info()
merged.points.unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2113 entries, 0 to 2112
Data columns (total 31 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   qualifyId        2113 non-null   int64
 1   raceId           2113 non-null   int64
 2   driverId         2113 non-null   int64
 3   constructorId_x  2113 non-null   int64
 4   number_x         2113 non-null   int64
 5   qualifying_pos   2113 non-null   int64
 6   q1               2109 non-null   object
 7   q2               2060 non-null   object
 8   q3               1980 non-null   object
 9   resultId         2113 non-null   int64
 10  constructorId_y  2113 non-null   int64
 11  number_y         2113 non-null   object
 12  grid             2113 non-null   int64
 13  position_y       2113 non-null   object
 14  positionText     2113 non-null   object
 15  positionOrder    2113 non-null   int64
 16  points           2113 non-null   float64
 17  laps             2113 non-null   int64
 18  time             2113 non-null   object
 19  race_time        2113 non-null   object
 20  fastestLap       2113 non-null   object
 21  rank             2113 non-null   object
 22  fastestLapTime   2113 non-null   object
 23  fastestLapSpeed  2113 non-null   object
 24  statusId         2113 non-null   int64
 25  lap_x            2113 non-null   float64
 26  position         2113 non-null   float64
 27  lap_time         2113 non-null   float64
 28  stop             2113 non-null   float64
 29  lap_y            2113 non-null   float64
 30  pitstop_time     2113 non-null   float64
dtypes: float64(7), int64(12), object(12)
memory usage: 528.2+ KB

array([25., 18., 12.,  0.,  4.,  8.,  6., 15., 10.,  2.,  1., 30., 50.,
       26., 16.,  9., 11., 13., 19.,  3.,  7.,  5.])

In [17]:
training = merged[['pitstop_time', 'lap_time', 'positionOrder', 'fastestLapSpeed', 'qualifying_pos']].copy()
training.head()

   pitstop_time       lap_time  positionOrder fastestLapSpeed  qualifying_pos
0  23319.500000   92590.672414              1         212.488               1
1  23213.000000   92975.103448              2         211.382               2
2  24055.000000   93138.465517              4         213.336               5
3  23438.000000   93725.931034             22         212.209              13
4  22408.333333  104639.857143              1         196.523               1

In [18]:
training.info()
training = training.drop("fastestLapSpeed", axis=1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2113 entries, 0 to 2112
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pitstop_time     2113 non-null   float64
 1   lap_time         2113 non-null   float64
 2   positionOrder    2113 non-null   int64
 3   fastestLapSpeed  2113 non-null   object
 4   qualifying_pos   2113 non-null   int64
dtypes: float64(2), int64(2), object(1)
memory usage: 99.0+ KB

In [19]:
training_labels = training['positionOrder']

In [20]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multiclass import OneVsOneClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC

some_data = training[:50]
some_data = some_data.drop("positionOrder", axis=1)
some_labels = training_labels[:50]

some_data1 = training[50:]
some_data1 = some_data1.drop("positionOrder", axis=1)
x = some_data1.loc[some_data1['pitstop_time'] == '\\N']
y = some_data1.loc[some_data1['lap_time'] == '\\N']
b = some_data1.loc[some_data1['qualifying_pos'] == '\\N']
some_labels1 = training_labels[50:]

clf = SGDClassifier(loss="log", penalty="l2", max_iter=1000)
clf.fit(some_data1, some_labels1)
y_pred = clf.predict(some_data)
print('Accuracy of SGD Classifier: {:.2f}'.format(accuracy_score(some_labels, y_pred)))
y_pred

Accuracy of SGD Classifier: 0.22

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1], dtype=int64)

In [21]:
from sklearn.neighbors import KNeighborsClassifier

some_data = training[:50]
some_data = some_data.drop("positionOrder", axis=1)
some_labels = training_labels[:50]

some_data1 = training[50:]
some_data1 = some_data1.drop("positionOrder", axis=1)
some_labels1 = training_labels[50:]


classifier = KNeighborsClassifier(n_neighbors=19)
classifier.fit(some_data1, some_labels1)
y_pred = classifier.predict(some_data)

print('Accuracy of KNeighbors Classifier: {:.2f}'.format(accuracy_score(some_labels, y_pred)))

print(some_labels)

Accuracy of KNeighbors Classifier: 0.12
0      1
1      2
2      4
3     22
4      1
5      8
6      6
7     21
8      2
9      1
10     7
11    17
12     1
13     4
14     3
15    14
16     1
17     2
18     5
19     9
20     1
21     2
22     6
23     2
24    22
25     1
26     4
27     2
28    11
29     2
30     1
31     4
32     7
33    19
34     1
35     4
36     2
37    11
38    19
39     2
40     4
41     3
42    15
43    18
44     1
45    22
46     4
47    20
48    21
49     1
Name: positionOrder, dtype: int64

In [22]:
y_pred

array([ 1,  5,  7,  1,  7,  1,  1, 12,  5,  3,  7,  1,  4,  2,  6,  1,  1,
        1,  1,  3,  5,  5,  4, 19, 19,  1,  1,  1,  1,  7,  8, 18,  6,  8,
        2,  1,  2, 10, 18,  1,  1,  3, 17,  1,  9,  5,  9,  1,  1,  5],
      dtype=int64)

In [23]:
from sklearn.linear_model import LinearRegression

some_data = training[:50]
some_data = some_data.drop("positionOrder", axis=1)
some_labels = training_labels[:50]

some_data1 = training[50:]
some_data1 = some_data1.drop("positionOrder", axis=1)
some_labels1 = training_labels[50:]

classifier = LinearRegression()
classifier.fit(some_data1, some_labels1)
y_pred = classifier.predict(some_data)

print(y_pred)
print(some_labels)

test_score = classifier.score(some_data,some_labels)
print(f'Test Accuracy : {test_score:.3f}')

[ 3.70139186  4.32982745  6.19957341 11.19283698  3.86671036  4.50030974
  6.36399815 13.26032753  3.859053    5.10584393  6.35707499 10.74066644
  3.71778053  5.5880556   6.21016631 12.45646839  4.29555714  4.9184342
  5.56213525 10.55149333  3.78876501  5.65833119  7.53638186  5.29303739
  7.41667368  3.87280385  5.12996665  5.74422508 13.24662813  4.45522025
  5.07726534  9.44689317 10.70006507 18.25988481  4.39607184  5.03060962
  5.64388765 12.51961497 18.18134354  3.69221596  4.32474774  6.1852291
  9.34921542 17.48030575  4.05466273  4.67608443  8.41966511  9.15982702
 17.82065919  4.02195395]
0      1
1      2
2      4
3     22
4      1
5      8
6      6
7     21
8      2
9      1
10     7
11    17
12     1
13     4
14     3
15    14
16     1
17     2
18     5
19     9
20     1
21     2
22     6
23     2
24    22
25     1
26     4
27     2
28    11
29     2
30     1
31     4
32     7
33    19
34     1
35     4
36     2
37    11
38    19
39     2
40     4
41     3
42    15
43    18
44     1
45    22
46     4
47    20
48    21
49     1
Name: positionOrder, dtype: int64
Test Accuracy : 0.540

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

some_data = training[:50]
some_data = some_data.drop("positionOrder", axis=1)
some_labels = training_labels[:50]

some_data1 = training[50:]
some_data1 = some_data1.drop("positionOrder", axis=1)
some_labels1 = training_labels[50:]

forest_reg = RandomForestRegressor(n_estimators=100, random_state=42)
forest_reg.fit(some_data1, some_labels1)

pos_predictions = forest_reg.predict(some_data)
forest_mse = mean_squared_error(some_labels, pos_predictions)
forest_rmse = np.sqrt(forest_mse)
forest_rmse


print(pos_predictions)
print(some_labels)

some_data3 = training[:1]
some_data3 = some_data3.drop("positionOrder", axis=1)
some_data4 = newTest1[:1]

pos_predictions = forest_reg.predict(some_data3)
pos_predictions1 = forest_reg.predict(some_data4)

print(some_data3)
print(some_data4)
print(pos_predictions)
print(pos_predictions1)

[ 1.93  2.48  4.74 13.3   1.21  4.32  3.79 11.12  2.09  4.08  4.46 11.39
  3.01  3.69  3.77 11.23  4.24  3.63  4.98  7.35  1.89  4.87  8.07  4.69
  6.76  2.13  3.96  8.71 10.09  4.43  4.94  9.54 12.42 17.02  3.54  5.76
  4.41 11.68 16.78  4.53  5.17  4.51 12.22 14.06  7.68  7.16  8.2   8.87
 13.6   1.9 ]
0      1
1      2
2      4
3     22
4      1
5      8
6      6
7     21
8      2
9      1
10     7
11    17
12     1
13     4
14     3
15    14
16     1
17     2
18     5
19     9
20     1
21     2
22     6
23     2
24    22
25     1
26     4
27     2
28    11
29     2
30     1
31     4
32     7
33    19
34     1
35     4
36     2
37    11
38    19
39     2
40     4
41     3
42    15
43    18
44     1
45    22
46     4
47    20
48    21
49     1
Name: positionOrder, dtype: int64
   pitstop_time      lap_time  qualifying_pos
0       23319.5  92590.672414               1
      pitstop_time      lap_time  qualifying_pos
2096       17973.0  90802.551724               1
[1.93]
[2.85]

In [33]:
merged

,qualifyId,raceId,driverId,constructorId_x,number_x,qualifying_pos,q1,q2,q3,resultId,...,rank,fastestLapTime,fastestLapSpeed,statusId,lap_x,position,lap_time,stop,lap_y,pitstop_time
0,4537,841,20,9,1,1,1:25.296,1:24.090,1:23.529,20779,...,4,1:29.844,212.488,1,29.5,1.103448,92590.672414,1.5,25.000000,23319.500000
1,4538,841,1,1,3,2,1:25.384,1:24.595,1:24.307,20780,...,8,1:30.314,211.382,1,29.5,1.948276,92975.103448,1.5,26.000000,23213.000000
2,4541,841,4,6,5,5,1:25.707,1:25.242,1:24.974,20782,...,2,1:29.487,213.336,1,29.5,5.500000,93138.465517,2.0,27.000000,24055.000000
3,4549,841,815,15,17,13,1:25.812,1:26.108,\N,20800,...,6,1:29.962,212.209,2,29.5,10.224138,93725.931034,1.0,23.000000,23438.000000
4,4562,842,20,9,1,1,1:37.468,1:35.934,1:34.870,20801,...,6,1:41.539,196.523,1,28.5,1.071429,104639.857143,2.0,26.333333,22408.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,9247,1076,854,210,47,15,1:20.104,1:20.465,NaN,25458,...,14,1:23.006,228.908,11,29.0,14.614035,92435.280702,1.0,14.000000,19039.000000
2109,9248,1076,848,3,23,16,1:20.135,NaN,NaN,25455,...,12,1:22.589,230.064,1,29.5,11.327586,92171.206897,1.0,57.000000,19845.000000
2110,9249,1076,825,210,20,17,1:20.254,NaN,NaN,25459,...,15,1:23.071,228.729,11,29.0,12.192982,92464.491228,1.0,39.000000,19111.000000
2111,9251,1076,849,3,6,19,1:21.372,NaN,NaN,25461,...,18,1:23.882,226.518,11,29.0,17.473684,92579.491228,1.5,18.000000,18244.000000
2112,9252,1076,840,117,18,20,\N,\N,\N,25457,...,17,1:23.592,227.304,1,29.5,13.189655,92243.896552,2.0,10.000000,19068.000000

In [34]:
newTest = merged.loc[merged['raceId'] == 1076]
newTest

,qualifyId,raceId,driverId,constructorId_x,number_x,qualifying_pos,q1,q2,q3,resultId,...,rank,fastestLapTime,fastestLapSpeed,statusId,lap_x,position,lap_time,stop,lap_y,pitstop_time
2096,9233,1076,844,6,16,1,1:18.881,1:18.606,1:17.868,25446,...,1,1:20.260,236.740,1,29.5,1.000000,90802.551724,1.0,22.0,17973.0
2097,9234,1076,830,9,1,2,1:18.580,1:18.611,1:18.154,25463,...,6,1:21.677,232.633,9,19.5,2.421053,94887.842105,1.0,18.0,18281.0
2098,9235,1076,815,9,11,3,1:18.834,1:18.340,1:18.240,25447,...,3,1:21.094,234.305,1,29.5,3.293103,91156.413793,1.0,20.0,17434.0
2099,9236,1076,846,1,4,4,1:19.280,1:19.066,1:18.703,25450,...,8,1:22.248,231.018,1,29.5,6.258621,91721.568966,1.0,20.0,17556.0
2100,9237,1076,1,131,44,5,1:19.401,1:19.106,1:18.825,25449,...,7,1:21.886,232.039,1,29.5,4.155172,91294.672414,1.0,22.0,17877.0
2101,9238,1076,847,131,63,6,1:19.405,1:19.076,1:18.933,25448,...,4,1:21.495,233.152,1,29.5,3.655172,91243.810345,1.0,23.0,18479.0
2102,9239,1076,817,1,3,7,1:19.665,1:19.130,1:19.032,25451,...,9,1:22.451,230.449,1,29.5,7.120690,91729.051724,1.0,21.0,18150.0
2103,9240,1076,839,214,31,8,1:19.605,1:19.136,1:19.061,25452,...,10,1:22.469,230.399,1,29.5,9.551724,91866.051724,1.0,17.0,19128.0
2104,9242,1076,4,214,14,10,1:19.192,1:18.815,NaN,25462,...,2,1:20.846,235.024,11,29.0,9.543860,92931.035088,1.5,46.0,18595.0
2105,9243,1076,842,213,10,11,1:19.580,1:19.226,NaN,25454,...,13,1:22.731,229.669,1,29.5,10.827586,92116.706897,1.0,21.0,18926.0
2106,9244,1076,822,51,77,12,1:19.251,1:19.410,NaN,25453,...,5,1:21.651,232.707,1,29.5,11.310345,91982.534483,1.0,22.0,18413.0
2107,9245,1076,852,213,22,13,1:19.742,1:19.424,NaN,25460,...,16,1:23.342,227.985,11,29.0,14.350877,92506.298246,1.0,18.0,18443.0
2108,9247,1076,854,210,47,15,1:20.104,1:20.465,NaN,25458,...,14,1:23.006,228.908,11,29.0,14.614035,92435.280702,1.0,14.0,19039.0
2109,9248,1076,848,3,23,16,1:20.135,NaN,NaN,25455,...,12,1:22.589,230.064,1,29.5,11.327586,92171.206897,1.0,57.0,19845.0
2110,9249,1076,825,210,20,17,1:20.254,NaN,NaN,25459,...,15,1:23.071,228.729,11,29.0,12.192982,92464.491228,1.0,39.0,19111.0
2111,9251,1076,849,3,6,19,1:21.372,NaN,NaN,25461,...,18,1:23.882,226.518,11,29.0,17.473684,92579.491228,1.5,18.0,18244.0
2112,9252,1076,840,117,18,20,\N,\N,\N,25457,...,17,1:23.592,227.304,1,29.5,13.189655,92243.896552,2.0,10.0,19068.0

In [26]:
newTest1 = newTest[['pitstop_time', 'lap_time', 'qualifying_pos']].copy()
newTest1

      pitstop_time      lap_time  qualifying_pos
2096       17973.0  90802.551724               1
2097       18281.0  94887.842105               2
2098       17434.0  91156.413793               3
2099       17556.0  91721.568966               4
2100       17877.0  91294.672414               5
2101       18479.0  91243.810345               6
2102       18150.0  91729.051724               7
2103       19128.0  91866.051724               8
2104       18595.0  92931.035088              10
2105       18926.0  92116.706897              11
2106       18413.0  91982.534483              12
2107       18443.0  92506.298246              13
2108       19039.0  92435.280702              15
2109       19845.0  92171.206897              16
2110       19111.0  92464.491228              17
2111       18244.0  92579.491228              19
2112       19068.0  92243.896552              20

In [64]:
test = newTest1[:1]
pos_predictions = forest_reg.predict(newTest1)
pos_predictions

array([ 2.85, 12.44,  3.15,  4.65,  4.24,  7.47,  6.89,  9.7 , 14.26,
        9.53,  9.51, 11.3 , 11.7 , 10.8 , 14.3 , 14.79, 11.04])

In [28]:
labels2 = newTest['positionOrder']
labels2

2096     1
2097    18
2098     2
2099     5
2100     4
2101     3
2102     6
2103     7
2104    17
2105     9
2106     8
2107    15
2108    13
2109    10
2110    14
2111    16
2112    12
Name: positionOrder, dtype: int64

In [29]:
index = [2096, 2097, 2098, 2099, 2100, 2101, 2102, 2103, 2104, 2105, 2106, 2107, 2108, 2109, 2110, 2111, 2112]
dictionary = dict(zip(index, pos_predictions))
dictionary

{2096: 2.85,
 2097: 12.44,
 2098: 3.15,
 2099: 4.65,
 2100: 4.24,
 2101: 7.47,
 2102: 6.89,
 2103: 9.7,
 2104: 14.26,
 2105: 9.53,
 2106: 9.51,
 2107: 11.3,
 2108: 11.7,
 2109: 10.8,
 2110: 14.3,
 2111: 14.79,
 2112: 11.04}

In [30]:
sort_orders = sorted(dictionary.items(), key=lambda x: x[1], reverse=False)
sort_orders

[(2096, 2.85),
 (2098, 3.15),
 (2100, 4.24),
 (2099, 4.65),
 (2102, 6.89),
 (2101, 7.47),
 (2106, 9.51),
 (2105, 9.53),
 (2103, 9.7),
 (2109, 10.8),
 (2112, 11.04),
 (2107, 11.3),
 (2108, 11.7),
 (2097, 12.44),
 (2104, 14.26),
 (2110, 14.3),
 (2111, 14.79)]

In [31]:
dictionary1 = dict(zip(index, labels2))
sort_orders1 = sorted(dictionary1.items(), key=lambda x: x[1], reverse=False)
sort_orders1

[(2096, 1),
 (2098, 2),
 (2101, 3),
 (2100, 4),
 (2099, 5),
 (2102, 6),
 (2103, 7),
 (2106, 8),
 (2105, 9),
 (2109, 10),
 (2112, 12),
 (2108, 13),
 (2110, 14),
 (2107, 15),
 (2111, 16),
 (2104, 17),
 (2097, 18)]

In [50]:
merged1 = merged.copy(deep=True)

In [38]:
merged1

,qualifyId,raceId,driverId,constructorId_x,number_x,qualifying_pos,q1,q2,q3,resultId,...,rank,fastestLapTime,fastestLapSpeed,statusId,lap_x,position,lap_time,stop,lap_y,pitstop_time
0,4537,841,20,9,1,1,1:25.296,1:24.090,1:23.529,20779,...,4,1:29.844,212.488,1,29.5,1.103448,92590.672414,1.5,25.000000,23319.500000
1,4538,841,1,1,3,2,1:25.384,1:24.595,1:24.307,20780,...,8,1:30.314,211.382,1,29.5,1.948276,92975.103448,1.5,26.000000,23213.000000
2,4541,841,4,6,5,5,1:25.707,1:25.242,1:24.974,20782,...,2,1:29.487,213.336,1,29.5,5.500000,93138.465517,2.0,27.000000,24055.000000
3,4549,841,815,15,17,13,1:25.812,1:26.108,\N,20800,...,6,1:29.962,212.209,2,29.5,10.224138,93725.931034,1.0,23.000000,23438.000000
4,4562,842,20,9,1,1,1:37.468,1:35.934,1:34.870,20801,...,6,1:41.539,196.523,1,28.5,1.071429,104639.857143,2.0,26.333333,22408.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2108,9247,1076,854,210,47,15,1:20.104,1:20.465,NaN,25458,...,14,1:23.006,228.908,11,29.0,14.614035,92435.280702,1.0,14.000000,19039.000000
2109,9248,1076,848,3,23,16,1:20.135,NaN,NaN,25455,...,12,1:22.589,230.064,1,29.5,11.327586,92171.206897,1.0,57.000000,19845.000000
2110,9249,1076,825,210,20,17,1:20.254,NaN,NaN,25459,...,15,1:23.071,228.729,11,29.0,12.192982,92464.491228,1.0,39.000000,19111.000000
2111,9251,1076,849,3,6,19,1:21.372,NaN,NaN,25461,...,18,1:23.882,226.518,11,29.0,17.473684,92579.491228,1.5,18.000000,18244.000000
2112,9252,1076,840,117,18,20,\N,\N,\N,25457,...,17,1:23.592,227.304,1,29.5,13.189655,92243.896552,2.0,10.000000,19068.000000

In [51]:
merged1 = pd.merge(merged1, races,  how='inner', left_on=['raceId'], right_on=['raceId'])
merged1.head()

,qualifyId,raceId,driverId,constructorId_x,number_x,qualifying_pos,q1,q2,q3,resultId,...,stop,lap_y,pitstop_time,year,round,circuitId,name,date,time_y,url
0,4537,841,20,9,1,1,1:25.296,1:24.090,1:23.529,20779,...,1.5,25.000000,23319.500000,2011,1,1,Australian Grand Prix,27/03/11,6:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...
1,4538,841,1,1,3,2,1:25.384,1:24.595,1:24.307,20780,...,1.5,26.000000,23213.000000,2011,1,1,Australian Grand Prix,27/03/11,6:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...
2,4541,841,4,6,5,5,1:25.707,1:25.242,1:24.974,20782,...,2.0,27.000000,24055.000000,2011,1,1,Australian Grand Prix,27/03/11,6:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...
3,4549,841,815,15,17,13,1:25.812,1:26.108,\N,20800,...,1.0,23.000000,23438.000000,2011,1,1,Australian Grand Prix,27/03/11,6:00:00,http://en.wikipedia.org/wiki/2011_Australian_G...
4,4562,842,20,9,1,1,1:37.468,1:35.934,1:34.870,20801,...,2.0,26.333333,22408.333333,2011,2,2,Malaysian Grand Prix,10/04/11,8:00:00,http://en.wikipedia.org/wiki/2011_Malaysian_Gr...

In [52]:
merged1 = merged1.groupby(['name','driverId']).mean().reset_index()
merged1

,name,driverId,qualifyId,raceId,constructorId_x,number_x,qualifying_pos,resultId,constructorId_y,grid,...,statusId,lap_x,position,lap_time,stop,lap_y,pitstop_time,year,round,circuitId
0,70th Anniversary Grand Prix,1,8459.0,1035.0,131.0,44.0,2.0,24707.0,131.0,2.0,...,1.0,26.50,2.461538,92179.211538,1.5,27.500000,28904.000000,2020.0,5.0,9.0
1,70th Anniversary Grand Prix,20,8469.0,1035.0,6.0,5.0,12.0,24717.0,6.0,11.0,...,1.0,26.50,12.884615,93372.365385,1.5,27.500000,28259.500000,2020.0,5.0,9.0
2,70th Anniversary Grand Prix,817,8462.0,1035.0,4.0,3.0,5.0,24719.0,4.0,5.0,...,11.0,26.00,10.000000,93894.980392,2.0,25.000000,28270.333333,2020.0,5.0,9.0
3,70th Anniversary Grand Prix,822,8458.0,1035.0,131.0,77.0,1.0,24708.0,131.0,1.0,...,1.0,26.50,2.153846,92331.230769,1.5,22.500000,28298.000000,2020.0,5.0,9.0
4,70th Anniversary Grand Prix,825,8474.0,1035.0,210.0,20.0,17.0,24725.0,210.0,17.0,...,31.0,22.00,18.302326,95241.023256,1.5,14.500000,29161.500000,2020.0,5.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
611,United States Grand Prix,847,8702.5,1048.5,3.0,63.0,16.5,24940.5,3.0,19.0,...,11.5,27.75,16.043771,104587.893771,1.5,27.250000,25250.500000,2020.0,18.0,69.0
612,United States Grand Prix,848,8323.0,1028.0,9.0,23.0,6.0,24570.0,9.0,6.0,...,1.0,28.50,10.196429,102030.196429,2.0,20.333333,27006.000000,2019.0,19.0,69.0
613,United States Grand Prix,849,9072.0,1069.0,3.0,6.0,17.0,25300.0,3.0,14.0,...,11.0,28.00,16.581818,104972.909091,1.5,15.000000,28131.500000,2021.0,17.0,69.0
614,United States Grand Prix,852,9065.0,1069.0,213.0,22.0,10.0,25294.0,213.0,10.0,...,11.0,28.00,9.290909,103819.654545,1.5,20.500000,23665.500000,2021.0,17.0,69.0
615,United States Grand Prix,854,9074.0,1069.0,210.0,47.0,19.0,25301.0,210.0,16.0,...,12.0,27.50,16.981481,105225.259259,1.5,22.500000,24270.000000,2021.0,17.0,69.0

In [53]:
merged1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 616 entries, 0 to 615
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   name             616 non-null    object
 1   driverId         616 non-null    int64
 2   qualifyId        616 non-null    float64
 3   raceId           616 non-null    float64
 4   constructorId_x  616 non-null    float64
 5   number_x         616 non-null    float64
 6   qualifying_pos   616 non-null    float64
 7   resultId         616 non-null    float64
 8   constructorId_y  616 non-null    float64
 9   grid             616 non-null    float64
 10  positionOrder    616 non-null    float64
 11  points           616 non-null    float64
 12  laps             616 non-null    float64
 13  statusId         616 non-null    float64
 14  lap_x            616 non-null    float64
 15  position         616 non-null    float64
 16  lap_time         616 non-null    float64
 17  stop             616 non-null    float64
 18  lap_y            616 non-null    float64
 19  pitstop_time     616 non-null    float64
 20  year             616 non-null    float64
 21  round            616 non-null    float64
 22  circuitId        616 non-null    float64
dtypes: float64(21), int64(1), object(1)
memory usage: 110.8+ KB

In [54]:
merged1 = merged1[['driverId', 'name', 'pitstop_time', 'lap_time', 'qualifying_pos']].copy()
merged1

,driverId,name,pitstop_time,lap_time,qualifying_pos
0,1,70th Anniversary Grand Prix,28904.000000,92179.211538,2.0
1,20,70th Anniversary Grand Prix,28259.500000,93372.365385,12.0
2,817,70th Anniversary Grand Prix,28270.333333,93894.980392,5.0
3,822,70th Anniversary Grand Prix,28298.000000,92331.230769,1.0
4,825,70th Anniversary Grand Prix,29161.500000,95241.023256,17.0
...,...,...,...,...,...
611,847,United States Grand Prix,25250.500000,104587.893771,16.5
612,848,United States Grand Prix,27006.000000,102030.196429,6.0
613,849,United States Grand Prix,28131.500000,104972.909091,17.0
614,852,United States Grand Prix,23665.500000,103819.654545,10.0
615,854,United States Grand Prix,24270.000000,105225.259259,19.0

In [150]:
def getPredictions(raceName):
    data = merged1.loc[merged1['name'] == raceName]
    data.name.unique()
    results = {}
    for i in (1, 4, 20, 842, 815, 817, 822, 825, 830, 832, 839, 840, 844,
       846, 847, 848, 849, 852, 854):
        driverData = data.loc[data['driverId'] == i]
#         print(driverData)
        if(driverData.size == 0):
            results[i] = 10000
            continue
        pitstopTime = driverData['pitstop_time'].mean()
#         print(pitstopTime)
        lapTime = driverData['lap_time'].mean()
        qualifyingPos = driverData['qualifying_pos'].mean()
        df = pd.DataFrame(columns = ['pitstopTime', 'lapTime', 'qualifyingPos'])
#         df['pitStopTime'] = 1000
        df.loc[len(df.index)] = [pitstopTime, lapTime, qualifyingPos]
        df
        final_predictions = forest_reg.predict(df)
        results[i] = final_predictions[0]
#         for i in ('apple', 'banana', 'carrot'):
#             fruitdict[i] = locals()[i]
    results = sorted(results.items(), key=lambda x: x[1], reverse=False)
    placement = 1
    for i in results:
        if(i[1] == 10000):
            print(placement, ' ', driver_dictionary[i[0]], ' (Placed low due to lack of data)')
            placement += 1
        else:
            print(placement, ' ', driver_dictionary[i[0]])
            placement += 1
    return results

In [104]:
driver_ids

array([  1,   4,  20, 842, 815, 817, 822, 825, 830, 832, 839, 840, 844,
       846, 847, 848, 849, 852, 854], dtype=int64)

In [151]:
test = getPredictions('70th Anniversary Grand Prix')

1   Lewis Hamilton
2   Valtteri Bottas
3   Max Verstappen
4   Charles Leclerc
5   Alexander Albon
6   Lance Stroll
7   Lando Norris
8   Esteban Ocon
9   Pierre Gasly
10   Daniel Ricciardo
11   Sebastian Vettel
12   Carlos Sainz
13   George Russell
14   Nicholas Latifi
15   Kevin Magnussen
16   Fernando Alonso  (Placed low due to lack of data)
17   Sergio Pérez  (Placed low due to lack of data)
18   Yuki Tsunoda  (Placed low due to lack of data)
19   Mick Schumacher  (Placed low due to lack of data)

In [123]:
placement = 1
for i in test:
#     print(i[0])
    print(placement, ' ', driver_dictionary[i[0]])
    placement += 1

1   Lewis Hamilton
2   Sebastian Vettel
3   Valtteri Bottas
4   Daniel Ricciardo
5   Pierre Gasly
6   Alexander Albon
7   Max Verstappen
8   Carlos Sainz
9   Esteban Ocon
10   Charles Leclerc
11   Fernando Alonso
12   Lando Norris
13   Sergio Pérez
14   Yuki Tsunoda
15   Kevin Magnussen
16   Nicholas Latifi
17   Mick Schumacher
18   Lance Stroll
19   George Russell